<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadFromserial3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ReadFromserial3.Properties.Settings>
            <setting name="SOF" serializeAs="String">
                <value>XX</value>
            </setting>
            <setting name="ch1Label" serializeAs="String">
                <value>channel 1</value>
            </setting>
            <setting name="ch2Label" serializeAs="String">
                <value>channel 2</value>
            </setting>
            <setting name="ch3Label" serializeAs="String">
                <value>channel 3</value>
            </setting>
            <setting name="ch4Label" serializeAs="String">
                <value>channel 4</value>
            </setting>
            <setting name="ch5Label" serializeAs="String">
                <value>channel 5</value>
            </setting>
            <setting name="ch6Label" serializeAs="String">
                <value>channel 6</value>
            </setting>
            <setting name="Ch3Byte1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch3Byte2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch3Byte3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch3Byte4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch4Byte1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch4Byte2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch4Byte3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch4Byte4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch5Byte1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch5Byte2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch5Byte3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch5Byte4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch6Byte1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch6Byte2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch6Byte3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ch6Byte4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="ParityBits" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value />
            </setting>
        </ReadFromserial3.Properties.Settings>
    </userSettings>
</configuration>